---

---


<section class="block ">
    <hr class="border-rose-400 border-2">
    <h3 class="flex justify-between items-end py-2">Blog header <small>12.2.2023</small></h3>
    <img class="w-full h-68 object-cover" src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-01.jpg" alt="plaj">
</section>