---

---


<section class="block mb-12 mt-6">
    <span class="
   
        bg-rose-400 block relative mb-14 h-2  mt-4
        before:(w-16 h-16 absolute 
        block flex justify-center left-[calc(100%-4rem)]
         bg-rose-500  content-NEW
         -top-full items-center)"></span>
 
    <img class="w-full h-48 object-co hover:object-left" src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-01.jpg" alt="plaj">
    <h3 class="flex justify-between items-end py-4 text-2xl font-semibold text-rose-500">Blog header <small>12.2.2023</small></h3>
    <p class="text-gray-400">
        There is a clickable image with beautiful hover effect and active title link for each post item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.
    </p>
    <span class="flex justify-between items-end py-2 text-xl font-bold text-rose-500 pt-12">Blog category <small>12.2.2023</small></span>
    <hr class="my-2">
    <div class="flex justify-between py-2">
        <span class="text-xl font-semibold text-gray-400">
            36 comments
        </span>
        <span class="text-xl font-semibold text-gray-400">
            by Admin Nat
        </span>
    </div>
</section>