---
	import MainLayout from "@layouts/main.layout.astro";
	import PostCard from "@components/pages/post_card.astro";
	
---


<MainLayout>
		<h2 class="py-6 text-rose-500 font-semibold text-3xl">
			Bloglar
		</h2>
		<div class="grid gap-12 grid-cols-3 flex-1 w-full h-full ">
			{
				Array.from(new Array(5), (_)=> <section> <PostCard /> </section>)
			}
		</div>
</MainLayout>