---
import Container from "@components/common/container.astro";

---

<header class="w-full h-12 mt-22">
   
        <Container>
            <form action="/" class="place-self-end flex gap-6 h-12 justify-end ">
                <input type="search" class="border-red-400 border-1  w-82 outline-rose-400" placeholder="Ara...">
                <button class="block bg-rose-500 w-18 h-full">
                    <i class="fa fa-search text-white"></i>
                </button>
            </form>
        </Container>
</header>